html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#searchBar {
  text-align: center;
}

#menu {
  text-align: center;
}

#searchOptions{
  background-color: #e3f2fd;
  flex: 1;
  padding: 20px;
  text-align: center;
}

#searchOptions p {
  font: Futura, Helvetica;
  line-height: 20px;
  font-size: 16px;
}

footer {
  padding: 20px;
}
